.App {
  color: blueviolet;
}
  .App-header {
    background-color: #282c34;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-shadow: 0px 1px 1px #fff;
  }

  .App-main {
    background-color: whitesmoke;
  }
    #characters {
      padding: 30px 0;
      background-color: blueviolet;
      color: white;
      
      display: grid;
      justify-content: center;
      row-gap: 20px;
    }
      #characters h4 {
        min-width: 380px;
        margin: 0;
        font-size: 1.4rem;
        text-transform: lowercase;
        /* color: white; */
      }
        #characters h4::first-letter {
          text-transform: capitalize;
        }

      #char-name {
        /* background-color: antiquewhite; */
      }

      #char-gender {
        /* background-color: antiquewhite; */
      }

      #char-species {
        /* background-color: antiquewhite; */
      }
      
      #char-status {
        /* background-color: antiquewhite; */
      }

      #characters > div {
        width: calc(100% - 30px);
        justify-self: center;
        text-transform: capitalize;
      }
        #characters div label {
          display: block;
        }


      #char-info {
        display: block;
        padding: 30px;
        text-align: center;
        /* color: blueviolet; */
      }